@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 217 76% 90%;
    --foreground: 238 52% 15%;
    --card: 0 0% 100%;
    --card-foreground: 238 52% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 238 52% 15%;
    --primary: 238 52% 37%;
    --primary-foreground: 0 0% 98%;
    --secondary: 217 50% 80%;
    --secondary-foreground: 238 52% 37%;
    --muted: 217 50% 85%;
    --muted-foreground: 238 30% 40%;
    --accent: 29 100% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 30% 75%;
    --input: 0 0% 100%;
    --ring: 238 52% 37%;
    --chart-1: 0 70% 51%;
    --chart-2: 142 71% 45%;
    --chart-3: 221 83% 53%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 238 22% 20%;
    --foreground: 0 0% 98%;
    --card: 238 22% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 238 22% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 217 76% 90%;
    --primary-foreground: 238 52% 15%;
    --secondary: 238 22% 28%;
    --secondary-foreground: 0 0% 98%;
    --muted: 238 22% 28%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 29 100% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 238 22% 28%;
    --input: 238 22% 28%;
    --ring: 217 76% 90%;
    --chart-1: 0 70% 51%;
    --chart-2: 142 71% 45%;
    --chart-3: 221 83% 53%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
